################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DemoAppSolution/v17/DocumentLayout.json
/.vs/DemoAppSolution/v17/.suo
/.vs/DemoAppSolution/FileContentIndex/533b5eb4-724e-4d51-b1b1-9ca141f6a9ba.vsidx
/.vs/DemoAppSolution/FileContentIndex/f3fc9a6d-ea0e-4cd4-8c32-9802f144cd3f.vsidx
/.vs/DemoAppSolution/FileContentIndex/f3fc9a6d-ea0e-4cd4-8c32-9802f144cd3f.vsidx
/.vs/DemoAppSolution/FileContentIndex/f3fc9a6d-ea0e-4cd4-8c32-9802f144cd3f.vsidx
/.vs/DemoAppSolution/FileContentIndex/f3fc9a6d-ea0e-4cd4-8c32-9802f144cd3f.vsidx
/.gitignore
